[Unit]
Description=Generate edge search meta report every 6 hours

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00
Persistent=true
Unit=edge-search-meta-report.service

[Install]
WantedBy=timers.target
